  .notification-succsess{
    color: rgb(46, 206, 46);      
    font-size: 18px;
  }
  
  .container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .textarea {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
    .delete-button {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  